/* FOOTER */
footer {
  background-color: #222437;

  .inner {
    color: #9397bf;
    padding-top: 60px;
    padding-bottom: 60px;

    h1 {
      color: #d8d6e8;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;

      .info {
        font-size: 14px;

        p {
          line-height: 1.7;
        }
      }
      .term {
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          color: #9397bf;
          margin-bottom: 8px;
        }
      }

      .sns {
        display: flex;

        span {
          background-color: #3e446e;
          font-size: 28px;
          height: 40px;
          border-radius: 50%;
          padding: 6px;
          margin-right: 16px;
          cursor: pointer;
        }
      }
    }
  }
}