
/* HEADER */
header {
  .header-margin {
    height: 64px;
  }

  nav {
    background-color: #222437;
    width: 100%;
    height: 64px;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 26px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    
    .logo {
      svg {
        &:last-child {
          display: none;
          visibility: hidden;
        }
      }
    }
    .search {
      margin: 0 10px;
    }
    .login {
      background-color: #2b2d46;
      font-size: 14px;
      font-weight: 600;
      padding: 9px 16px;
      border-radius: 100px;
      cursor: pointer;
      &:hover {
        background-color: #525890;
      }
    }
  }
}

/* MEDIA QUERY WIDTH < 980px */
@media (max-width: 980px){

  header {
    nav {
      .logo {
        svg {
  
          &:first-child {
            display: none;
            visibility: hidden;
          }
          &:last-child {
            display: block;
            visibility: visible;
          }
        }
      }
    }
  }
}